<div style="height: 30%;"></div>
<app-best-seller></app-best-seller>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>school</mat-icon> Attendance Management System
    </a>
    <ul>
      <li style="color: whitesmoke;">
        <a (click) = "handleLoginAction()">Login</a>
        <a (click) = "handleSignUpAction()">Signup</a>
        <a (click)="handleForgotPasswordAction()">Forgot Password?</a>
      </li>
    </ul>
  </nav>
</div>
<div class="footer" id="signup" style="margin-top: 20px;">
  <h2>All right reserved 2023</h2>
</div>
